<footer>
    <a href="https://github.com/berubenic" target="_blank" rel="noopener">
        <img src="{{site.baseurl}}/assets/images/markers/github-marker.png" alt="GitHub marker" width="32px" height="auto">
        {% t contacts.github %}
    </a>
    <a href="https://www.linkedin.com/in/nicholas-berube-b60888164/" target="_blank" rel="noopener">
        <img src="{{site.baseurl}}/assets/images/markers/linkedin-marker.png" alt="Linkedin marker" width="32px" height="auto">
        {% t contacts.linkedin %}
    </a>
    <a href="mailto:berubenic@gmail.com">
        <i class="fas fa-envelope fa-2x"></i>
        {% t contacts.email %}
    </a>
</footer>
