.about.title {
    text-align: center;
}

.row {
    display: flex;
    flex-direction: column;
}

.about.description {
    text-align: center;
}

.about-image {
    width: 100px;
    height: auto;
    margin: 1em auto;
    border: 2px solid $dark-font-color;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 30px;

}

.about.article {
    width: 90%;
    margin: 0 auto;
    text-align: left;
    margin-bottom: 2em;
    line-height: 1.8em;
}

@media only screen and (min-width: 72em) {
    .about.title {
        font-size: 1.8em;
    }
    .about.article {
        width: 50%;
        font-size: 1.2em;
    }

    .about.description {
        font-size: 1.4em;
    }
}
