.about.title {
    text-align: center;
}

.about.description {
    text-align: center;
}

.about.article {
    width: 50%;
    margin: 0 auto;
    text-align: left;
    margin-bottom: 2em;
    line-height: 1.8em;
}

