.about.title {
    text-align: center;
}

.about.description {
    text-align: center;
}

.about.article {
    width: 90%;
    margin: 0 auto;
    text-align: left;
    margin-bottom: 2em;
    line-height: 1.8em;
}

@media only screen and (min-width: 72em) {
    .about.title {
        font-size: 1.8em;
    }
    .about.article {
        width: 50%;
        font-size: 1.2em;
    }
    .about.description {
        font-size: 1.4em;
    }
}
