.personal-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.personal-info a {
    padding: 2em 0em;
}


.name {
    font-size: 10vw;
    text-align: center;
    color: $dark-font-color;
    margin-bottom: 0;
}

.job-title {
    font-size: 6vw;
    text-align: center;
    color: $dark-font-color;
    font-style: italic;
}

.profile-image {
    width: 60%;
    height: auto;
    border-radius: 30px;
    margin: 2em;
    border: 5px solid $dark-font-color;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.skill-marker-logo {
    width: 128px;
    height: auto;
    margin: 1em;
    padding: 1em;
    border-radius: 30px;
    border: 5px solid $dark-font-color;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

@media only screen and (min-width: 72em) {
    /* Style adjustments for viewports that meet the condition */
    .personal-info {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-areas: 
            "name name image"
            "text text image"
            "marks marks marks"
            "marks marks marks"
            ;
    }
    .name {
        grid-area: name;
        font-size: 4vw;
        margin-top: 10vh;

    }
    .job-title {
        grid-area: text;
        margin-top: 0;
        font-size: 3vw;
    }
    .profile-image {
        width: 60%;
        grid-area: image;
    }
    .skill-marker-link {
        display: flex;
        align-self: center;
        justify-content: center;
    }
    .skill-marker-logo {
        width: 128px;
        margin: 2em;
        padding: 1em;
        border-radius: 30px;
        border: 5px solid $dark-font-color;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    }

    .skill-marker-logo:hover {
        transform: scale(1.2);
    }
  
  }